body {
	min-height: 100vh;
	background-color: red;
}
.logo {
	width: 250px;
	height: 250px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.navbar {
	/* border-bottom: 1px solid #254168; */
}

.navbar-toggler {
	position: absolute;
	top: 3.5vh;
	right: 2vw;
}

.card {
	width: 90vw;
	margin: 0 auto;
}

footer {
	text-align: center;
}
